@charset "utf-8";

@media screen and (max-width: 768px) {
	.timkiem {
	display: none;
	}
	.danhmuc {
	width: 300px;
	}

}

@media screen and (max-width: 480px) {
	.timkiem {
	display: none;
	}
	.danhmuc {
	display: none;
	}
}
